body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  header {
    background-color: #0044cc;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav ul li {
    margin-left: 20px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  #hero {
    text-align: center;
    background: url('./Images/montar-posto-de-gasolina-1.jpg') no-repeat center center/cover;
    color: white;
    padding: 100px 20px;
  }
  
  #hero button {
    background-color: #ff9900;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #hero button:hover {
    background-color: #cc7700;
  }
  
  section {
    padding: 20px;
    text-align: center;
  }
  
  .card {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  footer .social-icons img {
    margin: 0 10px;
  }